@page "/categories"
@inherits ListCategoriesPage

<PageTitle>Categories</PageTitle>

<div class="d-flex justify-end mb-4 mt-6">
	<MudButton Variant="Variant.Filled"
			   Color="Color.Primary"
			   StartIcon="@Icons.Material.TwoTone.Add"
			   Href="/categories/add">
		New category
	</MudButton>
</div>

<MudDataGrid Class="mt-4"
			 Items="@Categories"
			 Filterable="true"
			 QuickFilter="Filter"
			 Hideable="true">
	<ToolBarContent>
		<MudText Typo="Typo.h6" Color="Color.Primary">Categories</MudText>
		<MudSpacer />
		<MudTextField @bind-Value="SearchTerm"
					  Placeholder="Filter"
					  Adornment="Adornment.Start"
					  AdornmentIcon="@Icons.Material.Outlined.Search"
					  Immediate="true"
					  IconSize="Size.Medium"
					  Class="mt-0">
		</MudTextField>
	</ToolBarContent>
	<Columns>
		<PropertyColumn Property="c => c.Id" Title="#Id" />
		<PropertyColumn Property="c => c.Title" Title="Category" />
		<TemplateColumn Class="justify-end">
			<CellTemplate>
				<MudStack Row>
					<MudIconButton Icon="@Icons.Material.Filled.Edit"
								   Href="@($"/categories/edit/{context.Item.Id}")"
								   Color="Color.Primary">
					</MudIconButton>
					<MudIconButton Icon="@Icons.Material.Filled.Delete"
								   Color="Color.Error"
								   aria-label="Remove"
								   OnClick="() => OnDeleteButtonClicked(context.Item.Id, context.Item.Title)">
					</MudIconButton>
				</MudStack>
			</CellTemplate>
		</TemplateColumn>
	</Columns>
</MudDataGrid>